doctype html
html(lang='fr')
    head
        title Umbrella Corporation
        meta(content='text/html', charset='utf-8')
        script(src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous")
        script(src="js/index.js")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        link(href="images/logo.png" rel="icon" type="image/png")
    body
        a#logoRef
            img#logo(src="images/logo.png")
        h3 Number of requests: 
            p#nbRequests.inline 0
